@font-face {
    font-family: 'Canterbury';
    src: url('../assets/fonts/canterbury.ttf');
}

body {
  height: 100vh;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 50%;
  margin: 5%;
}