@font-face {
    font-family: 'Canterbury';
    src: url('../assets/fonts/canterbury.ttf');
}

body {
  height: 100vh;
  margin: 0;
}

video {
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg text {
  font-family: 'Canterbury';
  font-size: 20rem;
}

svg rect {
  fill: white;
  mask: url(#mask);
}

#atomicCanvas {
  width: 100%;
  height: 100%;
}